div { 
    width: 100%;
}

img {
    max-width: 80%; 
    height: auto;
}

p {
    white-space: pre-line;
}

blockquote {
    background-color: lightgrey;
}

code {
    background-color: lightgrey;
}
